* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar */
body {
    font-family: Arial, sans-serif;
    background-color: #e1f4d7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f1de;
    padding: 20px;
}

.logo h1 {
    font-size: 24px;
    color: #3e4737;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3e4737;
    font-size: 16px;
    font-weight: bold;
    text-align: left; 
}

nav ul li a:hover {
    color: #46af63;
}


/*home*/
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c2dbab;
    padding: 100px;
}

.text-container {
    max-width: 60%;
    text-align: center;
}

.text-container h2 {
    font-size: 60px;
    color: #ffffff;
}

.text-container h1 {
    font-size: 90px;
    color: #ffffff;
    margin: 30px 0;
}

.cta-button {
    display: inline-block;
    padding: 16px 30px;
    background-color: #ffffff;
    color: #3e4737;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

.image-container {
    transform: translateX(-390px);
}

.image-container img {
    width: 450px;
    height: auto;
}

/*texts*/
.box {
    text-align: center;
    padding: 130px;
    background-color: #fef7f0; 
  }

body {
  font-family: Arial, sans-serif;
  background-color: #f7f8fa;
  color: #333; 
}


.box .tagline {
  color: #00c4cc;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.box h1 {
  font-size: 2.8em;
  color: #2f2e41;
  margin-bottom: 20px;
}

.box .description {
  font-size: 1.3em;
  color: #6c757d;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 1px;
  background-color:#fef7f0; 
}

.feature {
  width: 30%;
  text-align: center;
  padding: 80px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 200px;
}

.feature h3 {
  color: #2f2e41;
  margin-bottom: 15px;
}

.feature p {
  color: #6c757d;
  font-size: 1em;
}
  

/*thumbs*/
.centered-text {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #333;
  margin-bottom: 0px; 
  background-color: #fef7f0; 
}

.product-section {
  position: relative;
  padding: 20px;
}

.food-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 50px;
    background-color: #fef7f0; 
}

.gallery-item {
    position: relative;
}

.gallery-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
    opacity: 1; 
}

/* author part*/
body {
  font-family: Arial, sans-serif;
  background-color: #f7f8fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.story-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px;
  background-color:  #fef7f0;
  background-position: center;
}

.story-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.text-container {
  width: 60%;
  padding-right: 20px;
}

h3 {
  text-transform: uppercase;
  font-size: 30px;
  color: #aaa;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 30px;
}

.author {
  display: flex;
  align-items: center;
}

.image-container {
  width: 1%;
}

.full-image {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*last part*/
footer {
  background-color: #d2e8ce; 
  padding: 40px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  text-align: left;
  padding: 20px 0;
}

.footer-section {
  flex: 1; 
  padding: 0 20px; 
}

.footer-section h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-section p,
.footer-section a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section span {
  font-size: 16px;
  margin-left: 5px;
  color: #333;
}

.footer-copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #666;
}

/*large screen*/
@media only screen and (min-width: 768px) {
  .menu-toggle { 
      display: none; 
  }

  .menu-icon {
      display: none; 
  }

  nav ul {
      display: flex; 
  }
}

/* Tablet size */
@media (max-width: 1023px) and (min-width: 768px) {
  .hero {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 150px; 
}

.hero .text-container {
    max-width: 50%; 
    text-align: left;
}

.hero .text-container h2 {
    font-size: 48px; 
}

.hero .text-container h1 {
    font-size: 78px; 
    margin: 20px 0; 
}

.hero .cta-button {
    padding: 12px 24px; 
    font-size: 16px; 
}

.hero .image-container {
  width: 100%; 
  text-align: center;
  transform: none; 
}

.hero .image-container img {
  width: 100%; 
  height: auto; 
}

 .gallery-item img {
      height: 300px;
  }

  .food-gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 20px;
      padding: 30px; 
  }

  .story-section {
      flex-direction: column;
      padding: 80px;
  }

  .footer-container {
      flex-direction: column;
      text-align: center;
  }

  .story-section .image-container {
    width: 50%; 
    transform: translateX(0); 
}

.footer-container {
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.footer-section {
  padding: 10px 0; 
}

.footer-section h3,
.footer-section p,
.footer-section a {
  text-align: center;
}
}

/* Mobile size */
@media (max-width: 767px) {
  
  #menu-toggle {
    position: absolute;
    opacity: 0; 
    z-index: -1; 
}

  header {
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      padding: 0;
  }

  .logo {
      margin: 0.5rem;
      text-align: left;
  }

  .menu-toggle {
      display: block; 
      position: absolute;
      right: 1rem;
      top: 1rem;
  }

  .menu-icon {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: 0.5rem;
  }

  nav ul {
      display: none; 
      flex-direction: column;
      width: 100%;
      background-color: #f8f1de;
      padding: 0;
      margin: 0;
  }

  nav ul li {
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  nav ul li a {
      padding: 15px;
      display: block;
      width: 100%;
      color: #3e4737;
  }

  #menu-toggle:checked + label + nav ul {
      display: flex; 
  }

  /*home*/
  .hero {
    flex-direction: column;
    padding: 40px 20px;
  }

  .text-container {
    max-width: 100%;
    text-align: center;
  }

  .image-container {
    transform: none;
    text-align: center;
    width: 85%;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .box {
    padding: 60px 20px;
  }

  .features {
    flex-direction: column;
  }

  .feature {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
  }

  .food-gallery {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .gallery-item {
    width: 100%;
  }

  .gallery-item img {
    height: auto;
  }

  /* Author part */
  .story-section {
    flex-direction: column;
    padding: 60px 20px;
    text-align: center; 
  }

  .story-content {
    flex-direction: column;
    text-align: center;
  }


  .story-section .image-container {
    width: 80%;
    margin: 0 auto 20px;
  }

  .full-image {
    width: 100%;
  }

  /* Footer part */
  footer {
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    padding: 20px 0;
  }
}
/* */